@model MVCClient.Models.TicketM

@{
    ViewData["Title"] = "BuyTicket";
}

<p><br /></p>

<h1>
    Thank you @Model.FirstName @Model.LastName for your reservation
</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>
