@model IEnumerable<MVCClient.Models.BookingM>

@{
    ViewData["Title"] = "BuyTicket";
}

<h1>
    Thanks for your reservation 
    @*@foreach (var item in Model)
    {
        @Html.DisplayFor(modelItem => item.Passenger.FirstName)
    }*@
</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>
