@model MVCClient.Models.BookingM

@{
    ViewData["Title"] = "DeleteBooking";
}

<p><br /></p>

<h1>
    Booking no @Model.BookingNo has been cancelled
</h1>

<div>
    <a asp-action="Bookings">Back to List</a>
</div>
